@import url(../variables.css);
#accordionSidebar{
    transition: width 0.3s;
}
/* tabeldesign start */
table tr td{
    color: black !important;
}
table tr:hover{
    background-color: rgba(255, 255, 255, .04) !important;
}
/* tabeldesign end */
#accordionSidebar.active{
    width: 0 !important;
    overflow: hidden !important;
}
#sidebarToggleTop{
    display: block !important;
}
a:hover{
    text-decoration: none;
}
.border-main{
    border: 1px solid var(--border-color);
}
.text-blue{
    color: var(--blue);
}
.flex-end{
    display: flex;
    align-items: end;
}
.sidebar.remove{
    display: none;
}
.btn-sm{
    max-height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
}
table tr td:last-of-type .btn{
    margin-bottom: 7px;
}
#sidebar_collapse{
    position: absolute;
    top: 20px;
    fill: white;
    left: 178px;
    z-index: 100;
}
#sidebar_collapse.remove{
    left: 20px;
}
#app{
    display: none;
}
.close_notification{
    animation: remove 2s linear;
}
table td{
    max-width: 250px;
    max-height: 250px;
}

@keyframes remove {
    to{
        opacity: 0;
    }
}
#loading{
    width: 60px;
    height: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
}
@media (max-width:500px) {
    .container-fluid{
        padding-right: 10px;
        padding-left: 10px;
    }
}
